<div class="row" id="links">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 lightbox-image" ng-repeat="image in images">
        <a  ng-if="isVideoFile(image.mimetype)"
            ng-href="{{image.large}}"
            title="Hochzeit"
            type="video/mp4"
            data-poster="images/video-boy.jpg"
            onclick="openLightbox(window.event, $(this))"
            data-index={{$index}}
            class="image"
        >
            <div class="thumbnail-img video-poster"></div>
        </a>

        <a class="download" ng-href="{{getDownloadLink(image.large)}}" target="_self" ng-if="image.mimetype == 'video/mp4'">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Herunterladen
        </a>

        <a  ng-if="!isVideoFile(image.mimetype)"
            ng-href="{{image.midsize}}"
            title="Hochzeit"
            type="{{image.mimetype}}"
            thumbnail="{{image.thumbnail}}"
            onclick="openLightbox(window.event, $(this))"
            data-index={{$index}}
            class="image"
        >
            <div class="thumbnail-img" style="background-image: url('{{image.thumbnail}}');"></div>
        </a>

        <a class="download" ng-href="{{getDownloadLink(image.large)}}" target="_self" ng-if="image.mimetype != 'video/mp4'">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Herunterladen
        </a>

    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <!-- <h3 class="title"></h3> -->
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script>
    function openLightbox(event, element) {

          event.preventDefault();
          event = event || window.event;
          var target = event.target || event.srcElement;
          var index = parseInt($(element).attr("data-index"));
          var options = {
              index: index,
              event: event,
              toggleControlsOnReturn: false,
              toggleControlsOnSlideClick: false,
              hidePageScrollbars: true,
              stretchImages: true,
          };
          var parent = $(element).parents().find("#links");
          var links = $(parent).find(".image");

          blueimp.Gallery(links, options);
    }
</script>
