<div class="header">
    <h1>Gallerie</h1>
</div>

<a  href="#!/" class="back-main-menu">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Zurück zum Hauptmenü
</a>

<div class="progress" ng-if="uploadPercentage">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{uploadPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadPercentage}}%">
        {{uploadPercentage}}%
    </div>
</div>

<div class="row" id="links">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 lightbox-image" ng-repeat="image in images">
        <a  ng-if="image.mimetype == 'video/mp4'"
            ng-href="{{image.large}}"
            title="Hochzeit"
            type="{{image.mimetype}}"
            data-poster="images/video-boy.jpg"
            onclick="openLightbox(window.event, $(this))"
            data-index={{$index}}
        >
            <div class="thumbnail-img video-poster"></div>
        </a>
        <a  ng-if="image.mimetype != 'video/mp4'"
            ng-href="{{image.large}}"
            title="Hochzeit"
            type="{{image.mimetype}}"
            thumbnail="{{image.thumbnail}}"
            onclick="openLightbox(window.event, $(this))"
            data-index={{$index}}
        >
            <div class="thumbnail-img" style="background-image: url('{{image.thumbnail}}');"></div>
        </a>
    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script>
    // document.getElementById('links').onclick = function (event) {
    //     event = event || window.event;
    //     var target = event.target || event.srcElement;
    //     var link = target.src ? target.parentNode : target;
    //     var options = {index: link, event: event};
    //     var links = this.getElementsByTagName('a');
    //
    //     console.log("target: ", target);
    //     console.log("link: ", link);
    //     console.log("options: ", options);
    //     console.log("links: ", links);
    //
    //     blueimp.Gallery(links, options);
    // };

    function openLightbox(event, element) {

          event.preventDefault();
          event = event || window.event;
          var target = event.target || event.srcElement;
          var index = $(element).attr("data-index");
          var options = {
              index: index,
              event: event,
              toggleControlsOnReturn: false,
              toggleControlsOnSlideClick: false,
              hidePageScrollbars: true,
          };
          var parent = $(element).parents().find("#links");
          var links = $(parent).find("a");

          blueimp.Gallery(links, options);
    }

</script>
