<div class="row margin-bottom-lg">
    <div class="col-xs-12 col-md-6">
        <h1>
            Liebe Hochzeitsgäste,
        </h1>
        <p>
            wir haben für euch eine Webseite eingerichtet (Vielen Dank dafür an Jody), auf der ihr während der Feier oder Zuhause eure Fotos hochladen könnt.
        </p>
        <p>
            Bitte macht schöne, lustige oder interessante Bilder und teilt diese mit uns.<br>
            Natürlich kann jeder der möchte alle Bilder anschließend auch für sich selbst runterladen.
        </p>
        <p>
            WLAN Codes liegen für euch am Tisch, ihr könnt euch aber bei Bedarf selbst welche an der Rezeption holen. Ein Code kann für 3 Geräte verwendet werden.
        </p>
        <p>
            Wir wünschen euch viel Spaß auf unserer Hochzeit und freuen uns auf viele schöne Bilder.
            Barbara & Matthias
        </p>
        <p>
            Deadline Upload: 28.8.2017<br>
            Deadline Download: 30.9.2017
        </p>
    </div>
    <div class="col-sm-6 hidden-xs hidden-sm">
        <img class="img-responsive kiss-img" src="/images/kiss.jpg" title="kiss">
    </div>
</div>

<div class="row menu-item-container">
    <div class="col-xs-12 col-sm-6 text-center menu-cell text-center">
        <div>
            <a class="menu-item" href="#!/upload" title="Upload">
                Upload
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center menu-cell text-center">
        <div>
            <a class="menu-item" href="#!/gallery" title="Gallerie">
                Gallerie
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center menu-cell text-center">
        <div>
            <a class="menu-item" href="#!/" title="Speiseplan">
                Speiseplan
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center menu-cell text-center">
        <div>
            <a class="menu-item" href="#!/" title="Idee">
                Idee
            </a>
        </div>
    </div>
</div>
