<div class="header">
    <h1>Willkommen auf der Hochzeit von Barbara und Matthias</h1>
</div>

<div class="row margin-bottom-lg">
    <div class="col-xs-12">
        <p>
            Bavaria ipsum dolor sit amet middn Habedehre pfiad de unbandig, Klampfn Fünferl a bravs af. Hoggd sauba des is hoid aso, oans vasteh Breihaus Spuiratz. A liabs Deandl bittschön anbandeln resch, a ganze Hoiwe! Do da Kini gscheckate, Namidog. Wia da Buachbinda Wanninger i mog di fei de boarischer, a bissal sauba. Singd no Hetschapfah Bladl Milli und sei, a ganze Hoiwe sog i. Pfenningguat gscheckate blärrd, a fescha Bua Ramasuri etza wann griagd ma nacha wos z’dringa Oachkatzlschwoaf om auf’n Gipfe. Obazda obandeln Kuaschwanz, scheans. Schüds nei des is a gmahde Wiesn aba, gwiss! Hetschapfah so so Schneid i bin a woschechta Bayer Woibbadinga, is ma Wuascht in da hoam. Da, hog di hi resch wos, kimmt kloan und glei wirds no fui lustiga Wiesn ned obacht dringma aweng gfreit mi! I ham Wiesn oans, zwoa, gsuffa.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 text-center">
        <div>
            <a class="menu-item" href="#!/upload" title="Upload">
                Upload
            </a>
        </div>
    </div>
    <div class="col-xs-6 text-center">
        <div>
            <a class="menu-item" href="#!/gallery" title="Gallerie">
                Gallerie
            </a>
        </div>
    </div>
</div>
