<div class="row">
    <div class="col-xs-12 col-md-6">

        <form id="uploadForm">
            <div class="form-group">
                <label for="uploaderName">Von wem kommt das Bild (optional)</label>
                <input class="form-control" ng-change="updateUploaderName()" ng-model="form.uploaderName" id="uploaderName" type="text" name="uploaderName" placeholder="Dein Name" />
                {{uploaderName}}
            </div>
            <div class="form-group file-upload-form-group">
                <!-- <label for="userFile" class="file-upload-button btn btn-primary" ng-class="!showProgressBar ? '' : 'disabled'"> -->
                <label for="userFile" class="file-upload-button btn btn-primary" ng-disabled="showProgressBar">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    Datei auswählen
                </label>

                <input id="userFile" multiple="multiple" ng-disabled="showProgressBar" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*|video/*" name="userFile"/>

                <button ng-click="uploadFiles();" ng-disabled="showProgressBar || filesArray.files.length < 1" class="btn btn-success margin-top-lg margin-bottom-lg" name="submit" id="submitUpload">
                    Bilder hochladen
                </button>
            </div>
        </form>
    </div>
</div>

<div id="thumbnails" ng-class="filesArray.thumbs.length < 1 ? 'hide' : ''">
    <div ng-repeat="thumb in filesArray.thumbs" class="row preview-row">
        <div class='col-xs-12 col-sm-4 img-container' style='background-image: url("{{thumb.picFile}}");'></div>
        <div class='col-xs-12 col-sm-4 filename'>
            <div class='filename-title'>
                Dateiname:
            </div>
            {{thumb.filename}}
        </div>
        <div class='col-xs-12 col-sm-4 filesize'>
            <div class='filesize-title'>
                Dateigröße:
            </div>
            {{thumb.filesize}}
        </div>
        <div ng-click="removeThumbnail($index)" class='col-xs-12 col-sm-2 btn btn-danger remove-preview-img'>
            <span class='glyphicon glyphicon-trash icon-remove-preview-img'></span>
            entfernen
        </div>
    </div>
</div>
