<div class="header">
    <h1>Bilder und Video Hochladen</h1>
</div>

<a  href="#!/" class="back-main-menu">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Zurück zum Hauptmenü
</a>

<div ng-if="!isAndroid">

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <form id="uploadForm" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="uploaderName">Von wem kommt das Bild (optional)</label>
                    <input class="form-control" id="uploaderName" type="text" name="uploaderName" placeholder="Dein Name" />
                </div>
                <div class="form-group file-upload-form-group">
                    <label for="userFile" class="file-upload-button btn btn-primary">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        Dateien auswählen
                    </label>
                    <input id="userFile" type="file" name="userFile" multiple="multiple" onchange="angular.element(this).scope().showUploadPreview();"/>
                    <button ng-click="uploadForm();" class="btn btn-success margin-top-lg margin-bottom-lg" name="submit" id="submitUpload">
                        Bilder hochladen
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div id="thumbnails">

    </div>

    <div class="hide multipart-support" data-multipart="true"></div>
</div>

<div ng-if="isAndroid">
    <div class="row">
        <div class="col-xs-12">

            <form id="uploadForm" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="uploaderName">Von wem kommt das Bild (optional)</label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control" id="uploaderName" type="text" name="uploaderName" placeholder="Dein Name" />
                        </div>
                    </div>
                </div>
                <div id="addInputArea" class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <label for="userFile_0" class="file-upload-label">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </label>
                        <input class="userFile" id="userFile_0" type="file" name="userFile[]" />
                    </div>
                </div>
                <button ng-click="uploadForm();" class="btn btn-success margin-top-lg margin-bottom-lg" name="submit" id="submitUpload">
                    Bilder hochladen
                </button>

            </form>
        </div>
    </div>

    <div class="hide multipart-support" data-multipart="false"></div>
</div>
