<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HochzeitWebApp">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hochzeit Barbara Matthias</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/style.min.css">

    <!-- JS Scripts -->
    <!-- Librarys -->
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="angular/customAngular.min.js"></script>

</head>
<body ng-app="MyApp">
    <div class="overlay hide">
        <img class="loading" src="/images/loading.gif">
    </div>

    <div class="container-fluid">

        <div class="header">
            <h1>{{headerText}}</h1>
        </div>

        <a href="#!/" class="back-main-menu" ng-if="currentPath != '/'">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Zurück zum Hauptmenü
        </a>

        <!-- <div ng-if="showProgressBar">
            Deine Dateien werden gerade hochgeladen. Bitte warte mit dem nächsten Upload bis die Anzeige bei 100% ist.
        </div> -->
        <div class="progress" ng-if="showProgressBar">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{uploadPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadPercentage}}%">
                {{uploadPercentage}}%
            </div>
        </div>

        <div ng-view></div>

    </div>

    <script type="text/javascript" src="scripts/scripts.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="scripts/blueimp-gallery-video.js"></script>

</body>
</html>
